# =============================================================================
# User-specific
# =============================================================================
/.development


# =============================================================================
# VSCode
# =============================================================================
/.vscode/*
!/.vscode/launch.json
!/.vscode/tasks.json
!/.vscode/settings.json


# =============================================================================
# Generated
# =============================================================================
/build
/external